{% extends 'base.html.twig' %}
{% block site1 %}
<div class="site-section bg-light" id="contact-section">
  <div class="container">
		<div class="page-content">
      <div class="form-v8-content">
        <div class="form-left">
          <img src="images/form-v8.jpg" alt="form">
        </div>
        <div class="form-right">
          <div class="tab">
            <div class="tab-inner">
              <button class="tablinks" onclick="openCity(event, 'sign-up')" id="defaultOpen">S'inscrire</button>
            </div>
            <div class="tab-inner">
              <button class="tablinks" onclick="openCity(event, 'sign-in')">Se connecter</button>
            </div> 
          </div>
          <form class="form-detail" action="#" method="post">
            {{form_start(form)}}
            <div class="tabcontent" id="sign-up">
              <div class="form-row">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, ) }}
              </div>
              <div class="form-row">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, ) }}
              </div>
              
              <div class="form-row-last">
                <input type="submit" name="register" class="register" href="{{ path('login_or_registration')}}" value="Enregistrement">
                
              </div>
            </div>
            {{form_end(form)}}
          </form>

          <form class="form-detail" action="#" method="post">
            {{form_start(form2)}}
            <div class="tabcontent" id="sign-in">
              <div class="form-row">
                {{ form_label(form2.name) }}
                {{ form_widget(form2.name) }}
              </div>
              <div class="form-row">
                {{ form_label(form2.password) }}
                {{ form_widget(form2.password) }}
              </div>
              <div class="form-row-last">
                <input type="submit" name="register" class="register" value="Connection">
              </div>
            </div>
            {{form_end(form2)}}
          </form>
        </div>
      </div>
    </div>
  </div>     
</div>
{% endblock %}
{% block site2 %}{% endblock %}
{% block site3 %}{% endblock %}