<!doctype html>
<html lang="fr">
  {% block site0 %}
  <head>
    <title>Salon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('fonts/flaticon/font/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('css/aos.css') }}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('css/sourcesanspro-font.css') }}">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="{{ asset('css/style2.css') }}"/>

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="{{ asset('fonts/material-design-iconic-font/css/material-design-iconic-font.min.css') }}">
    
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{{ asset('css/style3.css') }}">
  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
   
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="index.html">Amin's Hair Coiffure</a>
              </div>
            </div> 

            <div class="col-9  text-right">
              
              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>
              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li><a href="{{ path('service_index') }}" class="nav-link">Accueil</a></li>
                  <li><a href="{{ path('service_service', {'page': 1}) }}" class="nav-link">Nos prestations</a></li>
                  <li><a href="{{ path('service_about') }}" class="nav-link">Qui sommes nous</a></li>
                  {% if not is_granted('ROLE_USER')  %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Connexion/Inscription</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{ path('login_or_registration') }}">Inscription</a>
                      <a class="dropdown-item" href="{{ path('service_singIn') }}">Connexion</a>
                    </div>
                  </li>
                  {% endif %}
                  {% if is_granted('ROLE_USER')  %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Compte</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Rendez-vous</a>
                      <a class="dropdown-item" href="{{ path('update_password') }}">Modifier son mot de passe</a>
                      <a class="dropdown-item" href="{{ path('update_email_user') }}">Modifier son Email</a>
                      <a class="dropdown-item" href="{{ path('update_number_user') }}">Modifier son numéro de téléphone</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                  </li>
                  {% endif %}
                </ul>
              </nav> 
              
            </div>     
          </div>
        </div>

      </header> 

      <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('{{ asset('images/'~picture.name) }}')">
          <div class="container">
            <div class="row align-items-center justify-content-center text-center">
              <div class="col-md-7">
                <h1 class="mb-3">Cheveux et Barbe</h1>
                <p>Coiffeur uniquement pour les hommes.</p>
                <p><a href="{{ path('service_about') }}" class="btn btn-primary">Plus d'info</a></p>
              </div>
            </div>
          </div> 
        </div>
      </div>
      {% endblock %} 

    	{% block site1 %}
    	<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="img-years">
              <img src="{{ asset('images/'~service.image) }}" alt="Image" class="img-fluid">
              <div class="year">
                <span>{{service.price}}€</span>
              </div>
            </div>

          </div>
          <div class="col-lg-5 ml-auto pl-lg-5 text-center">
            <h3 class="scissors text-center">{{service.name}}</h3>
            <p class="mb-5 lead">{{service.description}}</p>
            <p><button type="button" class="btn btn-danger">RDV</button></p>
          </div>
        </div>
      </div>
    </div>
    	<!-- END section -->
    	{% endblock %}

    	{% block site2 %}
    	<div class="site-section bg-light">
    		<div class="container">
      		<div class="row justify-content-center  mb-5">
        		<div class="col-md-7 text-center">
            <div class="alert alert success">
              {% for message in app.flashes('success') %} {{ message }} {% endfor %}
            </div> 

            <div class="alert alert error">
              {% for message in app.flashes('error') %} {{ message }} {% endfor %}
            </div> 
          		<h3 class="scissors text-center">Prestation du salon</h3>
          		<p class="mb-5 lead">
          			Vous trouverez ci-dessous tous les services que offre le salon.
          		</p>
          		<p class="text-center">
            		<a href="#" class="btn btn-primary custom-prev">Précédent</a>
            		<a href="#" class="btn btn-primary custom-next">Suivant</a>
          		</p>
        		</div>
      		</div>	
      		<div class="row">  	
        		<div class="col-12">
          		<div class="nonloop-block-13 owl-carousel d-flex"> 
            		{% for service in services %}
            		<div class="item-1 h">
                	<a href="{{ path('service_show', {'id': service.id}) }}"><img src="{{ asset('images/'~service.image) }}" alt="Image" class="img-fluid"></a>
                	<div class="item-1-contents">
                  	<h3>{{service.name}}</h3>
                  	<ul>
                    	<li class="d-flex"><span>Prix de la prestation</span> <span class="price ml-auto">{{service.price}} euros.</span></li>
                    	<li class="d-flex"><span><a href="{{ path('service_show', {'id': service.id}) }}" class="btn btn-secondary">Plus d'info</a></span> <span class="price ml-auto"><button type="button" class="btn btn-danger">RDV</button></span></li> 
                  	</ul>
                	</div>
              	</div>
            		{% endfor %}
          		</div>   
        		</div>  
      		</div> 
    		</div>
  		</div> 
    	{% endblock %}

    	{% block site3 %}
    	<div class="site-section section-3" data-stellar-background-ratio="0.5" style="background-image: url('{{ asset('images/'~picture.name) }}');">
      	<div class="container">
        	<div class="row justify-content-center text-center">
          	<div class="col-7 text-center mb-5">
            	<h2 class="text-white scissors primary-color-icon text-center">Le meilleur si non rien !!!</h2>
            	<p class="lead text-white mb-5">Beaucoup d’entre vous vont chez le Barbier pour un rasage, la taille de leur barbe ou de leur moustache.
							Barbe de 3 jours, de 10 jours ou barbe plus conséquente, ce style est très tendance y compris dans le milieu professionnel.

							Quant aux femmes, beaucoup apprécient le côté viril, baroudeur ou bien même homme des cavernes !!!

							La taille de la barbe débute toujours par une phase de diagnostic approfondi afin de déterminer vos besoins..

							Votre Barbière écoute vos souhaits, vous accompagne dans vos choix et vous conseille, en fonction de la morphologie de votre visage, sur la structure à donner à votre barbe.</p>
            	
          	</div>
        	</div>
      	</div>
    	</div>
    	{% endblock %}
 
    	<footer class="site-footer">
      	<div class="container">
        	<div class="row">
          	<div class="col-lg-3">
            	
            	<h2 class="footer-heading mb-3">Amin's Hair Coiffure</h2>
               <p>8 Rue Raymond Bellague, 77520 Donnemarie-Dontilly. Nous sommes ouvert du Mardi au Samedi 24/24 .</p>
          	</div>
          	<div class="col-lg-8 ml-auto">
            	<div class="row">
              	<div class="col-lg-6 ml-auto">
                	<h2 class="footer-heading mb-4">Menu</h2>
                	<ul class="list-unstyled">
                  	<li><a href="{{ path('service_index') }}">Accueil</a></li>
                  	<li><a href="{{ path('service_service', {'page': 1}) }}">Nos prestations</a></li>
                  	<li><a href="{{ path('service_about') }}">Qui sommes nous</a></li>
                    {% if not is_granted('ROLE_USER')  %}
                  	<li><a href="{{ path('login_or_registration') }}">Connexion/Inscription</a></li>
                    {% endif %}
                	</ul>
              	</div> 
            	</div>
          	</div>
        	</div>
        	<div class="row pt-5 mt-5 text-center">
          	<div class="col-md-12">
            	<div class="border-top pt-5">
              	<p>
            			
            		</p>
            	</div>
          	</div>
        	</div>
      	</div>
    	</footer>
    </div>

    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/jquery-migrate-3.0.0.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/jquery.sticky.js') }}"></script>
    <script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('js/jquery.animateNumber.min.js') }}"></script>
    <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
    <script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/aos.js') }}"></script>

    <script src="{{ asset('js/main.js') }}"></script>

    <script>
      $('#myTab').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show');
      });
  </script>

    <script type="text/javascript">
    {% include 'java.html.twig' %}
    </script>

  </body>
</html>

